@model Product

<div class="page-wrapper updateproduct">
    @await Html.PartialAsync("_ProductUpdateImagePartial", Model)
</div>

@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).on("click", ".addbtn", function (e) {
                e.preventDefault()
                fetch($(this).attr("href")).then(response => response.text()).then(data => $(".inputContaineForadd").append(data))
            })
        })
    </script>
    <script src="~/manage/assets/js/Script.js">

    </script>
}